.figures {
  margin-bottom: 100px;
}
.square {
  width: 100px;
  height: 100px;
  background: #333;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #333;
}

.triangle {
  width: 0;
  height: 0;
  --base: 50px;
  --root3: 1.7320508;
  border-bottom: calc(var(--base) * var(--root3)) solid #333;
  border-left: var(--base) solid transparent;
  border-right: var(--base) solid transparent;
}

.lozenge {
  width: 0;
  height: 0;
  border-bottom: 50px solid #333;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: relative;
}

.lozenge::after {
  width: 0;
  height: 0;
  content: '';
  display: block;
  border-top: 50px solid #333;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  top: 50px;
  left: -30px;
}

.hamburger {
  --bar: 20px;
  --h: 100px;
  --w: 100px;
  box-sizing: border-box;
  width: var(--w);
  height: var(--h);
  border-top: var(--bar) solid #333;
  border-bottom: var(--bar) solid #333;
  position: relative;
}

.hamburger::before {
  position: absolute;
  top: calc(calc(var(--h) - var(--bar) * 3) / 2);
  content: '';
  display: block;
  width: var(--w);
  height: var(--bar);
  background: #333;
}

.check {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check::after {
  width: 70px;
  height: 30px;
  content: '';
  border-left: 20px solid #333;
  border-bottom: 20px solid #333;
  display: block;
  transform: rotate(-45deg);
}
